<%- include("partials/header"); -%>
    <h1 class = "as">About us</h1>
    <p class = "demo"> <%= aboutContent %> </p>
    <div class="demo">
      <p>We started in 2021 . Our motive is to raise funds so as we can support the people in need. We strictly use all the funds collected in offering the services we promise .</p>
    </div>
<%- include("partials/footer"); -%>
