<%- include("partials/header"); -%>
<div class="as">
    <p class = "as">Contact</p>
</div>

    <p class = "demo"> <%= contactContent %> </p>
    <div class="demo">
      <p> Name : Swapnil saurav </p>
      <p>Email : 2019eeb1204@iitrpr.ac.in</p>
      <p>Contact No: 933478417334</p>
    </div>
<%- include("partials/footer"); -%>
