
<%- include("partials/header"); -%>
   <div class="as">
    <p class = "as">Your Donation can save a Life</p>
   </div>
    <p class = "demo"> <%= startingContent %> </p>
    <div class="container-fluid aa">
      <a href="https://rzp.io/l/g7Nl1jo" class="btn btn-primary btn-lg active  ma" role="button" aria-pressed="true"> Donate Now </a>
    </div>
    <div class="">
      <img src="/images/ds.jpg" class="kemo">
    </div>

<%- include("partials/footer"); -%>
